<div class="m-5">
    <fieldset class="d-flex flex-column gap-3 m-1 p-3 border rounded-3 w-50 justify-content-center align-content-center">
    <legend  class="float-none w-auto">Detalhes do Usuário</legend>
    <fieldset class="d-flex gap-3 flex-column">
                <div class="form-group row"> 
                    <label for="login" class="col-sm-2 col-form-label">Id:</label>
                    <div class="col-10">
                        <input type="text" class="form-control" id="id" value="{{usuario.id}}" disabled>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="nome" class="col-sm-2 col-form-label">Nome</label>
                    <div class="col-10">
                    <input type="text" class="form-control" id="nome" placeholder="Nome" name="nome" value="{{usuario.nome}}" disabled>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="login" class="col-sm-2 col-form-label" placeholder="example@email.com">Login</label>
                    <div class="col-10">
                    <input type="text" class="form-control" id="login" placeholder="Login" name="login" value="{{usuario.login}}" disabled>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="email" class="col-sm-2 col-form-label">Email</label>
                    <div class="col-10">
                    <input type="email" class="form-control" id="email" placeholder="examplo@email.com" name="email" value="{{usuario.email}}" disabled>
                    </div>
                </div>

                <div class="form-group row justify-content-end pt-4">
                    <div class="col-10 d-flex justify-content-end">
                        <button type="button" class="btn btn-outline-primary fw-medium">Voltar</button>
                        <a type="button" class="btn btn-outline-warning fw-medium ms-2" href="/usuario/editar/{{usuario.id}}">Editar</a> 
                        <button type="button" class="btn btn-outline-danger fw-medium ms-2 deleta">Deletar</button> 
                    </div>
                </div>
            </form>

            <!-- Modal -->
            <div class="modal fade" id="confirmaDelecao" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">Confirmação de Deleção</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Confirma a deleção do usuario: <em class="fw-medium text-warning" id="usuarioModal" ></em>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-danger fw-medium" data-bs-dismiss="modal">Cancelar</button>
                            <a type="submit" class="btn btn-outline-success fw-medium">Confirmar</a>
                        </div>
                    </div>
                </div>
            </div>
    </fieldset>
</div>


<script defer src="/js/detailUser.js"></script>
